::-webkit-scrollbar {
    display: none; 
}

body {
	overflow: hidden;
}

.padded {
	padding-bottom: 55px;
}

.loader {
	height: 128px;
	width: 128px;
}

.sized-icon {
	font-size: 10px;
}

#cancel-button, #run-button {
	animation-name: bounce-in;
	animation-duration: 2s;
}

.button-spin .btn-spinner {
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.button-spin:hover .btn-spinner {
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}

@keyframes bounce-in {
	 0%   { 
	 	transform: scale(1, 1) translateY(0); 
	 }
     10%  { 
     	transform: scale(.9, 1.1) translateY(-100px);
     }
     30%  { 
     	transform: scale(1.1, .9) translateY(0); 
     }
     50%  { 
     	transform: scale(1, 1) translateY(0); 
     }
     100% { 
     	transform: scale(1, 1) translateY(0); 
     }
}